
<span ><textarea rows="6" cols="50" autofocus>
<%= @am_i %>
</textarea><a href="" onClick="window.location.href=window.location.href">
    <span class="glyphicon glyphicon-refresh"></span>
  </a></span>
